{% extends "AppTDJ/padre.html" %}

{% load static %}


{% block titulo %}
<h1 class="display-5 fw-bolder text-white mb-2">BILLETES</h1>
<p class="lead fw-normal text-white-50 mb-4">Este es el detalle de tu billete</p>
{% endblock %}

{% block imagen %}

"https://ichef.bbci.co.uk/news/800/cpsprodpb/7432/production/_91464792_mediaitem91464791.jpg"

{% endblock %}

{% block descripcion %}

<p> Valor: {{billete.valor}}</p>
<p> País: {{billete.pais}}</p>
<p> Continente: {{billete.continente}}</p>
<p> Año: {{billete.year}}</p>
<p> Material: {% if billete.material %}
                  {{billete.material}}
                  {% endif %}</p>
<p> Descripción: {% if billete.descripcion %}
                {{billete.descripcion}}
                 {% endif %}</p>
<p> Imagen frente: {% if billete.imgfrente %}
                 <img src="{{ billete.imgfrente.url }}" >
                {% endif %}</p>

<p> Imagen dorso:  {% if billete.imgdorso %}
                   <img src="{{ billete.imgdorso.url }}" ></p>
                    {% endif %}</p>

<a href='{% url "billeteActualizar" billete.id %}' class="btn btn-primary"> Actualizar </a>
<a href='{% url "billeteEliminar" billete.id %}' class="btn btn-primary"> Eliminar </a>
<a href='{% url "billeteLista" %}' class="btn btn-primary"> Volver </a>

{% endblock %}

