{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">BILLETES</h1>
<p class="lead fw-normal text-white-50 mb-4">Esta es tu colección de billetes</p>

{% endblock %}

{% block imagen %}

"https://www.show.com.es/u/fotografias/fotosnoticias/2023/7/3/135279.jpg"

{% endblock %}

{% block descripcion %}

{% if billetes %}
{% for billete in billetes %}
<p> País: {{billete.pais}} / Valor: {{billete.valor}} / Año: {{billete.year}}</p>
<a href='{% url "billeteDetalle" billete.id %}' class="btn btn-primary" > Ver detalle </a>
<a href='{% url "billeteActualizar" billete.id %}' class="btn btn-primary" > Actualizar </a>
<a href='{% url "billeteEliminar" billete.id %}' class="btn btn-primary"  > Eliminar </a>
<p></p>
{% endfor %}
{% else %}
<p>Aún no tienes billetes en tu colección<p>
{% endif %}

{% endblock %}


