{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">Contacto</h1>
<p class="lead fw-normal text-white-50 mb-4">Pueden seguirme en <a class="link-light small" href="https://www.instagram.com/titodejuncales/">Instagram</a>, 
    escribirme un correo electrónico a <a class="link-light small" href="mailto:agarciastambuli@gmail.com">agarciastambuli@gmail.com</a>
    o pueden ver mi repositorio en <a class="link-light small" href="https://github.com/titodejuncales?tab=repositories">Github</a>.
</p>


{% endblock %}

{% block imagen%}
    {% static 'AppTDJ/assets/img/perfil.jpg' %}
{% endblock %}

{% block descripcion %}


{% endblock %}