{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">ESTAMPILLAS</h1>
<p class="lead fw-normal text-white-50 mb-4">Resultado de búsqueda de estampillas</p>

{% endblock %}

{% block imagen %}

"https://cdn.aarp.net/content/dam/aarp/money/budgeting_savings/2021/06/1140-postage-stamp-hero-esp.imgcache.rev.web.700.403.jpg"

{% endblock %}

{% block descripcion %}

{% if estampillas %}

{% for estampilla in estampillas %}

<p> Pais: {{estampilla.pais}} / Valor: {{estampilla.valor}} </p>
<a class="btn btn-primary" href="{% url "estampillaActualizar" estampilla.id %}">Actualizar</a>
<a class="btn btn-primary" href="{% url "estampillaEliminar" estampilla.id %}">Cancelar</a>

{% endfor %}

{% else %}

<p> No existen estampillas de {{estampilla}} en nuestra plataforma </p>

{% endif %}

{% endblock %}
