{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">FICHAS Y MEDALLAS</h1>
<p class="lead fw-normal text-white-50 mb-4">Esta es tu colección de fichas y medallas</p>

{% endblock %}

{% block imagen %}

"https://www.show.com.es/u/fotografias/fotosnoticias/2023/7/3/135279.jpg"

{% endblock %}

{% block descripcion %}

{% if fichas %}
{% for ficha in fichas %}
<p> Tipo de objeto: {{fichaymedalla.tipodeobjeto}} {% if fichaymedalla.pais %}/ País: {{fichaymedalla.pais}}{% endif %} {% if fichaymedalla.year %}/ Año: {{fichaymedalla.year}}{% endif %}</p>
<a href='{% url "fichaDetalle" fichaymedalla.id %}' class="btn btn-primary" > Ver detalle </a>
<a href='{% url "fichaActualizar" fichaymedalla.id %}' class="btn btn-primary" > Actualizar </a>
<a href='{% url "fichaEliminar" fichaymedalla.id %}' class="btn btn-primary"  > Eliminar </a>
<p></p>
{% endfor %}
{% else %}
<p>Aún no tienes fichas o medallas en tu colección<p>
{% endif %}

{% endblock %}


