{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">El baúl de Tito</h1>
<p class="lead fw-normal text-white-50 mb-4">Gestioná y compartí tus colecciones</p>
{% if not user.is_authenticated %}
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Login' %}">Iniciar sesión</a>
    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'Registro' %}">Crear usuario</a>
</div>
{% endif %}
{% endblock %}

{% block imagen%}
"https://services.meteored.com/img/article/el-globo-terraqueo-mas-antiguo-que-revela-una-america-en-descubrimiento-1694617893131_1024.jpeg"
{% endblock %}

{% block descripcion %}
<p>{{mensaje}}</p>

{% endblock %}