{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">MONEDAS</h1>
<p class="lead fw-normal text-white-50 mb-4">Esta es tu colección de monedas</p>

{% endblock %}

{% block imagen %}

"https://www.show.com.es/u/fotografias/fotosnoticias/2023/7/3/135279.jpg"

{% endblock %}

{% block descripcion %}

{% if monedas %}
{% for moneda in monedas %}
<p> País: {{moneda.pais}} / Valor: {{moneda.valor}} / Año: {{moneda.year}}</p>
<a href='{% url "monedaDetalle" moneda.id %}' class="btn btn-primary" > Ver detalle </a>
<a href='{% url "monedaActualizar" moneda.id %}' class="btn btn-primary" > Actualizar </a>
<a href='{% url "monedaEliminar" moneda.id %}' class="btn btn-primary"  > Eliminar </a>
<p></p>
{% endfor %}
{% else %}
<p>Aún no tienes monedas en tu colección<p>
{% endif %}

{% endblock %}


