{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">MONEDAS</h1>
{% if moneda.pais %}
<p class="lead fw-normal text-white-50 mb-4">Actualiza la información de tu moneda</p>
{% else %}
<p class="lead fw-normal text-white-50 mb-4">Agrega una nueva moneda</p>
{% endif %}

{% endblock %}

{% block imagen %}

"https://www.show.com.es/u/fotografias/fotosnoticias/2023/7/3/135279.jpg"

{% endblock %}

{% block descripcion %}
<form action="" method="POST" enctype="multipart/form-data"> {%  csrf_token %}
    {{form.as_p}}


    <input type="submit" class="btn btn-primary" value="Guardar">
    <a class="btn btn-primary" href="{% url 'monedaLista' %}">Cancelar</a>


</form>
{% endblock %}