{% extends "AppTDJ/padre.html" %}

{% load static %}

{% block titulo %}

<h1 class="display-5 fw-bolder text-white mb-2">¿Quién soy?</h1>
<p class="lead fw-normal text-white-50 mb-1">Mi nombre es Andrés García Stambuli, aunque todo el mundo me conoce por mi seudónimo: Tito de Juncales</p>
<p class="lead fw-normal text-white-50 mb-1">Soy licenciado en administración y en la actualidad me desempeño como responsable de contabilidad e impuestos en una fábrica de productos alimenticios.</p>
<p class="lead fw-normal text-white-50 mb-1">Amante de los deportes, runner amateur y cicloturista.  </p>
<p class="lead fw-normal text-white-50 mb-1">Otra de mis grandes pasiones es la numismática, lo cual me llevó a desarrollar este proyecto.  </p>
{% endblock %}

{% block imagen%}
{% static 'AppTDJ/assets/img/perfil.jpg' %}
{% endblock %}

{% block descripcion %}


{% endblock %}